<!DOCTYPE html>
<html>
<head>
    <title>Top Five Grossing Movies of All Time</title>
    <style>
        tr {
            border-bottom: 1px solid #ddd;
        }
        th {
            font: bold
        }
        h1 {
            color: red
        }
        body {
            font-family: Arial, sans-serif;
             background-color: #f0f0f0;
        }   
    </style>
 </head>
<body>
    <p><h1>Top Five Grossing Movies of All Time</h1></p>
    <table>
  <tr>
    <th>Rank</th>
    <th>Movie</th>
    <th>Gross</th>
    <th>Year</th>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="https://www.boxofficemojo.com/title/tt0499549">Avatar</a></td>
    <td>$2.92B</td>
    <td>2009</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href="https://www.boxofficemojo.com/title/tt4154796">Avengers: Endgame</a></td>
    <td>$2.79B</td>
    <td>2019</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href="https://www.boxofficemojo.com/title/tt1630029">Avatar: The Way of Water</a></td>
    <td>$2.32B</td>
    <td>2022</td>
  </tr>
  <tr>
    <td>4</td>
    <td><a href="https://www.boxofficemojo.com/title/tt0120338">Titanic</a></td>
    <td>$2.26B</td>
    <td>1997</td>
  </tr>
  <tr>
    <td>5</td>
    <td><a href="https://www.boxofficemojo.com/title/tt2488496">Star Wars: Ep VII - The Force Awakens</a></td>
    <td>$2.07B</td>
    <td>2015</td>
  </tr>
</table>
<p></p>
<p><h4>For a more comprehensive list, please visit <a href="https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW">Box Office Mojo!</a></h4></p>
</body>
